name: audio-connected

on:
  push:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3
      - run: vendir sync --locked
      - run: mise run extract-ci-info
        id: ci-info
    outputs:
      ci-tasks: ${{ fromJSON(steps.ci-info.outputs.ci-tasks) }}
      run-publish: ${{ fromJSON(steps.ci-info.outputs.run-publish) }}
      artifacts: ${{ fromJSON(steps.ci-info.outputs.artifacts) }}
      version: ${{ fromJSON(steps.ci-info.outputs.version) }}

  ci:
    runs-on: ubuntu-latest
    needs:
      - setup
    strategy:
      matrix:
        task: ${{ needs.setup.outputs.ci-tasks }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3
      - run: mise run ${{ matrix.task }}

  build:
    runs-on: ubuntu-latest
    needs:
      - setup
      - ci
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3
      - run: mise run build
      - name: Save artifacts for release
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: artifacts
          path: |
            ${{ needs.setup.outputs.artifacts }}
          if-no-files-found: error

  publish:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build
    if: ${{ needs.setup.outputs.run-publish }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Download artifact
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          name: artifacts.*
          name_is_regexp: true
          path: ./artifacts/

      - name: create release
        id: create_release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ needs.setup.outputs.version }}
          name: Release ${{ needs.setup.outputs.version }}
          draft: true  # TODO: Change to false when testing completed
          prerelease: false
          files: ./artifacts/*/*
